<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attributeString</key>
	<string>今夜不再是杯赛 联赛回归 本人最擅长的比赛 势必拿下高倍 大家有目共睹 联赛我都是 10倍 5倍的中 今天依然如此 干就完了 晚上9点出6串一 不容错 直接干现在先出SP5+给兄弟们玩玩 晚上9点评论区准时来拿6串一[图片][图片][图片] {
    NSColor = &quot;UIExtendedSRGBColorSpace 0.505882 0.505882 0.505882 1&quot;;
    NSFont = &quot;&lt;UICTFont: 0x7fe669915480&gt; font-family: \&quot;.SFUIText\&quot;; font-weight: normal; font-style: normal; font-size: 14.00pt&quot;;
    NSKern = 0;
    NSParagraphStyle = &quot;Alignment 4, LineSpacing 4, ParagraphSpacing 0, ParagraphSpacingBefore 0, HeadIndent 0, TailIndent 0, FirstLineHeadIndent 0, LineHeight 0/33.6094, LineHeightMultiple 0, LineBreakMode 1, Tabs [\n\t28L,\n\t56L,\n\t84L,\n\t112L,\n\t140L,\n\t168L,\n\t196L,\n\t224L,\n\t252L,\n\t280L,\n\t308L,\n\t336L\n], DefaultTabInterval 0, Blocks [\n], Lists [\n], BaseWritingDirection -1, HyphenationFactor 0, TighteningForTruncation NO, HeaderLevel 0&quot;;
    NSStrokeColor = &quot;kCGColorSpaceModelRGB 0 0 0 1 &quot;;
    NSStrokeWidth = 0;
    NSUnderline = 0;
}</string>
</dict>
</plist>
